* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif";
}

:root {
    --radius: 13%;
    --x: 50%;
    --y: 50;
}

html,
body {
    height: 100%;
    width: 100%;
}

#wordSpaceReducing {
    word-spacing: -5px;
}

@media screen and (min-width: 640px) {
    #wordSpaceReducing {
        word-spacing: -6px;
    }
}

/* Setting Random postions of the images inside ImageContainer div */
.img1 {
    scale: 1.5;
    object-position: 0 -30vh;
}

.img2 {
    scale: 3;
    object-position: 0 -2vh;
}

.img3 {
    scale: 2;
    object-position: 0 -10vh;
}

.img4 {
    scale: 2;
    object-position: 0 -15vh;
}

#Arrow {
    animation: arrowAnimation 1.3s infinite alternate ease-in-out;
    transform-origin: top center;
}

@keyframes arrowAnimation {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1.2);
    }
}

/* Setting the initial coordinates of the circle */

#clipPath {
    clip-path: circle(13% at 58% 25%);
}

#progressBar{
    transition: width 0.8s linear; 
}